#root {
  height: 100%;
  max-width: match-parent;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color:  #000;
  background-color: #E2ECFF;
}

.app-space  {
  color: #000;
  background: #E2ECFF;
}